<h1>Books</h1>

<table>
<thead>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion<th>
	</tr>
	</thead>
	<tr>
		<% @books.each do |books| %>
	<tbody>
		<td><%= attachment_image_tag users, :profile_image %>
		<td><%= books.title %></td>
		<td><%= books.opinion %></td>
	</tbody>
</tr>
<% end %>
</table>

<%= render "side", user: @user %>