<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><b>Bookers, </b><br>
you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>

<%= link_to "Log in", new_user_session_path(@user), class:"btn btn-info"%><br>
<%= link_to "Sign up", new_user_registration_path(@user), class:"btn btn-success" %>