<h1>Book detail</h1>

<table>
<thead>
	<tr>
		<th>image</th>
		<th>name</th>
		<th><th>
	</tr>
	</thead>
	<tr>
		<% @users.each do |users| %>
	<tbody>
		<td><%= users.profile_image %>
		<td><%= users.name %></td>
		<td><%= link_to "show", user_path(users.id) %></td>
	</tbody>
</tr>
<% end %>
</table>

<%= render "layouts/side", user: @user %>